[user]
	name = Jonathan Elliot
	email = jon@committed.io
[gui]
	fontdiff = -family Monaco -size 14 -weight normal -slant roman -underline 0 -overstrike 0
        warndetachedcommit = true
        gcwarning = false
	fontui = -family \"Microsoft Sans Serif\" -size 13 -weight normal -slant roman -underline 0 -overstrike 0
[alias]
        cp = cherry-pick
        s = status -s
        co = checkout
        ri = rebase -i
        rc = rebase --continue
        ra = rebase --abort
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        rb = !git branch --sort=-committerdate | head -n 5
[diff]
        tool = vimdiff
[push]
	default = upstream
	followTags = true

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pull]
	rebase = true
[core]
	excludesfile = /Users/jonelliot/.gitignore
[commit]
	template = /Users/jonny/.stCommitMsg
[rebase]
	autosquash = true
	autostash = true
[init]
	templatedir = ~/.git-templates
[sequence]
	editor = rebase-editor
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[branch]
	sort = -committerdate
[filesystem "AdoptOpenJDK|12|/dev/disk1s1"]
	timestampResolution = 7000 nanoseconds
	minRacyThreshold = 0 nanoseconds
