[user]
	name = Jonathan Elliot
	email = jonny.elliot@gmail.com
[gui]
	fontdiff = -family \"Lucida Console\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	warndetachedcommit = true
	gcwarning = false
[merge]
	tool = tortoisemerge
[alias]
	cp = cherry-pick
	s = status -s
	co = checkout
	diff = diff --word-diff
	dc = diff --cached
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	sl = stash list
	sa = stash apply
	ss = stash save
	sp = stash pop
	f = "!git ls-files | grep -i"
	k = !gitk
	review = "!f() { git push origin HEAD:refs/for/$1; }; f"	
	newbranch = "!f() { git checkout -b $1 origin/master; }; git fetch; f"
	gg = !"git gui &"
    g = !"git gui &"
	minesince = "!f() { git log $1..origin/master --pretty=oneline --author='Jonathan Elliot'; }; f"
	ri = rebase -i
	rim = rebase -i origin/master
	rc = rebase --continue
	ra = rebase --abort
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	recent = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -10
	r = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -10
	target = log --date=relative --format='format:Last updated %cd' -1 scripts/autobuild/download/build-target.xml
	purr = "!git fetch && git pull --rebase"
[diff]
	tool = vimdiff
